@import '../../less/mixins';
@import '../../less/variables';

.mainPanel {
  position: absolute;
  background: @mainBackground;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  transition: 0.2s ease-out all;
}

.sliderPanelOpen .mainPanel {
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5);
  .translate(80%, 0px);
}

.content {
  position: absolute;
  top: 43px;
  bottom: 44px;
  width: 100%;
  overflow: scroll;
}

.sliderPanelBtn {}

.sliderPanel {
  z-index: 0;  
}

.sliderPanel .content {  
  bottom: 0px;
}

.bar-footer {
  position: fixed;
}

.bar-header {
  position: fixed;
}